.wrapper {
  display: flex;
  flex-direction: column;
  /* margin-top: 20px; */
  padding: 10px 50px;
  justify-content: space-around;
  border-top: 1px solid gainsboro;
  /* border-bottom: 1px solid gainsboro; */
}
.card1 {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.card1 img {
  height: 280px;
  width: 370px;
  margin: 10px;
  border-radius: 220px;
}
.text1 {
  margin-right: 140px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.text1 h2 {
  font-size: 43px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}
.card2 {
  /* width: 1300px; */
  display: flex;
  justify-content: flex-end;
}
.card2 img {
  height: 280px;
  width: 370px;
  margin: 10px;
  border-radius: 220px;
}
.text2 {
  display: flex;
  margin-right: 30px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.text2 h2 {
  font-size: 43px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}
/* Button */
.btn {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, 0.15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  margin-top: 10px;
}

.btn:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: 0.35s;
}

.btn:active {
  transform: translateY(2px);
  transition-duration: 0.35s;
}

.btn:hover {
  box-shadow: rgba(39, 174, 96, 0.2) 0 6px 12px;
}
