@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap");
.background {
  width: 100vw;
  height: 100vh;
  padding: 100px 0;
  background: url("https://img.wallpapersafari.com/desktop/800/450/9/27/oj5vEN.jpg");
}
.background p {
  margin: 0;
  color: white;
  font-size: 70px;
  font-weight: 500px;
  text-align: center;
}
.background h3 {
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 35px;
  margin: 5px;
}
.centre {
  text-align: center;
}
.error {
  display: flex;
  align-items: center;
  justify-content: center;
}
.error h1 {
  letter-spacing: 25px;
  margin: 0;
  font-family: "Outfit", sans-serif;
  font-size: 270px;
  color: white;
}
